<div class="waste-page">
  <div class="waste-container">
    <div class="waste-header">
      <mat-card class="header-card">
        <mat-grid-list cols="5" rowHeight="100px">
          <mat-grid-tile colspan="1">
            <mat-card-content>
              <h2>Afvalstoffen</h2>
            </mat-card-content>
          </mat-grid-tile>
          <mat-grid-tile colspan="3"></mat-grid-tile>
          <mat-grid-tile colspan="1">
            <mat-card-content>
              <button class="btn btn-primary" (click)="openAddArticle()">Toevoegen</button>
            </mat-card-content>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
    </div>
    <div class="waste-content">
      <mat-card class="content-card">
        <mat-card-content>
          <app-waste-table></app-waste-table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
