@import "src/styles";

.waste-page{
  background-color: $primaryBackgroundColor;
  height: 100%;


  .waste-container{
    padding: 3% 5% 3% 5%;
    min-height: 100%;
    display: grid;

    .waste-header{
      .header-card{
        background-color: white;
      }
    }

    .waste-content{
      display: grid;
      margin-top: 3%;
      background-color: white;
      padding: 2% 2% 2% 2%;
      grid-template-rows: 10% 1fr;
      grid-gap: 2%;


      .waste-content-container{

      }
    }
  }
}
