<div class="waste-page">
  <div class="waste-container">
    <div class="waste-header">
      <mat-card class="header-card">
        <mat-card-content>Simple card</mat-card-content>
      </mat-card>
    </div>
    <div class="waste-content">
      <mat-card class="content-card">
        <mat-card-content>
          <button (click)="getArticles()">klik me</button>
          <p *ngFor="let article of articles">{{article.color}}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
