<div class="waste-page">
  <div class="waste-container">

    <div class="waste-header">
      <mat-card class="header-card">
        <mat-grid-list cols="5" rowHeight="100px">
          <mat-grid-tile colspan="1">
            <mat-card-content>
              <h2>Afvalstoffen</h2>
            </mat-card-content>
          </mat-grid-tile>

          <mat-grid-tile colspan="3"></mat-grid-tile>

          <mat-grid-tile colspan="1">
            <mat-card-content>
              <button mat-raised-button color="primary" (click)="openAddArticle()">Toevoegen</button>
            </mat-card-content>
          </mat-grid-tile>

        </mat-grid-list>
      </mat-card>
    </div>

    <div class="waste-content">
      <div class="waste-content-header">
        <input>
      </div>
      <div class="waste-content-container">
        <div class="container-selection">
          <button mat-raised-button class="select-btn">Alle afvalstoffen</button>
          <button mat-raised-button class="select-btn">Categorie samenstellen</button>
        </div>
        <div class="changing-container">
          <div class="chaning-conainer-comp">
            <app-waste-table></app-waste-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
