@import "src/styles";

.waste-page{
  background-color: $primaryBackgroundColor;
  height: 100%;


  .waste-container{
    padding: 3% 5% 3% 5%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 10% 1fr;

    .waste-header{
      .header-card{
        background-color: white;
      }
    }

    .waste-content{
      display: grid;
      margin-top: 6%;
      background-color: white;
      padding: 2% 2% 2% 2%;
      grid-template-rows: 10% 1fr;
      grid-gap: 2%;

      .waste-content-header{
        width: 100%;
      }

      .waste-content-container{
        display: grid;
        width: 100%;
        grid-template-columns: 15% 1fr;

        .container-selection{
          .select-btn{
            width: 100%;
            background-color: $primaryBackgroundColor;
          }
          //grid-template-columns: repeat(1, 1fr);
        }

        .changing-container{

        }

      }
    }
  }
}
