@import "src/styles";

.waste-page{
  background-color: $primaryBackgroundColor;
  height: 100%;


  .waste-container{
    padding: 3% 5% 3% 5%;
    min-height: 100%;

    .waste-header{
      .header-card{
        background-color: white;
      }
    }

    .waste-content{
      margin-top: 3%;
      background-color: white;
      padding: 2% 2% 2% 2%;


      .waste-content-container{

      }
    }
  }
}
