<mat-expansion-panel class="mb-3" hideToggle>
  <mat-expansion-panel-header class="waste-cards-header">
    <div class="card-item">
      <div class="title">
        <h4>Log nmr.</h4>
      </div>
      <div class="content">
        <p>{{log.orderID}}</p>
      </div>
    </div>
    <div class="card-item">
      <div class="title">
        <h4>Gebruiker</h4>
      </div>
      <div class="content">
        <p *ngIf="employee">{{employee.name}}</p>
      </div>
    </div>
    <div class="card-item">
      <div class="title">
        <h4>Order nummer</h4>
      </div>
      <div class="content">
        <p *ngIf="!order">Er is wat mis gegaan!</p>
        <p *ngIf="order">{{order.id}}</p>
      </div>
    </div>
  </mat-expansion-panel-header>
</mat-expansion-panel>
