<div class="waste-cards">
  <div id="search-bar">
    <input placeholder="Zoek een afvalstof" [(ngModel)]="searchText" type="text">
  </div>
  <app-pager *ngIf="wastes.length > 0" [total]="listLength" (buttonPress)="getArticles($event)"></app-pager>
  <div *ngIf="wastes" class="waste-card">
    <div class="loading-circle absolute-circle" *ngIf="loading && wastes.length">
      <div class="loader"></div>
    </div>
    <div *ngFor="let waste of wastes | filter: searchText">
      <mat-accordion >
        <app-single-waste [waste]="waste"></app-single-waste>
      </mat-accordion>
    </div>
  </div>
  <div class="loading-circle relative-circle" *ngIf="loading && !wastes.length">
    <div class="loader"></div>
  </div>
</div>
