<div class="mainBody">

    <div class="loginBox">
        <div class="logoHolder">
            <img class="logo" src="../../../assets/logo.png" alt="">
        </div>

        <h1 class="loginText">LOGIN</h1>

        <div class="formHolder">

            <div>

                <div class="inputHolder emailHolder inputSpacing">
                    <h3 class="inputText">Email</h3>
                    <input class="input" [ngClass]="{invalid : !isEmailValid }" type="text" placeholder="email" [(ngModel)]="email">
                </div>

                <div class="inputHolder passHolder">
                    <h3 class="inputText">Wachtwoord</h3>
                    <input class="input "  [ngClass]="{invalid : !isPassValid }"  type="password" name="" id="" placeholder="wachtwoord" [(ngModel)]="password">
                    <p class="errorText">{{errorText}}</p>
                </div>
            </div>
        </div>


        <button class="loginButton" (click)="login()">INLOGGEN</button>

    </div>
</div>
