@import "src/styles";

.app-container{
  height: 100vh;
  display: grid;
  grid-template-areas:
    'openNav navigationTop'
    'navigationside home';
  grid-template-rows: 5%;
  background-color: $primaryColor;

  .btn-openSideNav{
    grid-area: openNav;
    z-index: 2;
    display: flex;
    position: static;

    .menuIcon{
      color: white;
      position: absolute;
      justify-content: left;
    }
  }

  .nav-container {
    grid-area: navigationside;
  }

  .route-container{
    grid-area: home;
    background-color: $primaryBackgroundColor;
  }

  .nav-topContainer{
    grid-area: navigationTop;
    display: flex;
    justify-content: right;



    .profile-image{
      width: 35px;
      margin-right: 40px;
    }

  }


}
