<div class="app-container" [style]="visible ? 'grid-template-columns: 15% 1fr;' : 'grid-template-columns: 0% 1fr;'">


  <div class="nav-container" *ngIf="auth.isLoggedIn | async">
    <app-navigationbar [visible]="visible">
    </app-navigationbar>
  </div>

  <button class="btn btn-openSideNav" (click)="toggle()" *ngIf="auth.isLoggedIn | async">
    <mat-icon class="menuIcon">menu</mat-icon>
  </button>

  <div class="nav-topContainer" *ngIf="auth.isLoggedIn | async">
    <h1 class="user-name">{{name}}</h1>
    <button class="profile-button" mat-button [matMenuTriggerFor]="profileMenu">
      <img class="profile-image" src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Circle-icons-profile.svg">
    </button>
    <mat-menu class="profile-dropdown" #profileMenu="matMenu" xPosition="before">
      <button mat-menu-item>Profiel</button>
      <button class="logout" mat-menu-item (click)="removeJWT()">
        Uitloggen
      </button>

    </mat-menu>
  </div>

  <ng-container>
    <div class="route-container">
      <router-outlet></router-outlet>
    </div>
  </ng-container>



</div>
