.app-container{
  height: 100vh;
  display: grid;
  grid-template-areas:
    'navigationside navigationtop'
    '. home';
  grid-template-rows: 5%;



  .nav-container {
    grid-area: navigationside;
  }

  .route-container{
    grid-area: home;
  }


}
