<table mat-table [dataSource]="articles" class="mat-elevation-z8 waste-table">

  <ng-container matColumnDef="eancode">
    <th mat-header-cell *matHeaderCellDef> Eancode </th>
    <td mat-cell *matCellDef="let article"> {{article.eancode}} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Beschrijving </th>
    <td class="waste-table-row" mat-cell *matCellDef="let element"> beschrijving </td>
  </ng-container>

  <ng-container matColumnDef="color">
    <th mat-header-cell *matHeaderCellDef> Kleur </th>
    <td mat-cell *matCellDef="let article"> {{article.color}} </td>
  </ng-container>

  <ng-container matColumnDef="vPrice">
    <th mat-header-cell *matHeaderCellDef> v.price </th>
    <td mat-cell *matCellDef="let article"> v.price </td>
  </ng-container>

  <ng-container matColumnDef="aPrice">
    <th mat-header-cell *matHeaderCellDef> a.price </th>
    <td mat-cell *matCellDef="let article"> a.price </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let article">
      <button>hoi</button>
      <button>hoi</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
