.containerNewUser {
    margin: 30px 0px 0px 30px;
}

.formHolder {
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.buttonHolder {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.buttons {
    margin: 5px 10px 10px 10px;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    color:white;
    font-size: 20px;
}

.button-clear {
    background-color: #3C3B3B;
}

.button-submit {
    background-color: #046A6A;
}


.title {
    text-align: center;
}
.titleText {

}

.formContainer {

}

.innerBox {
    background-color: white;
}

.textInput {
    width: 100%;
    padding: 10px 10px 0px 10px
}

.formRow {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.errorText {
    text-align: right;
    margin-right: 10px;
}


@media (max-width: 450px) {
    .buttons {
        width: 100%;
    }
}