
<nav class="navigation">
<div class="sidenav" *ngIf="visible">
  <button class="btn-sidenav" [ngClass]="activeRoute === '/home' && 'btn-active'" (click)="navTo('/home')" >
    Home
    <mat-icon class="forwardArrow">arrow_forward</mat-icon>
  </button>

  <button class="btn-sidenav" [ngClass]="activeRoute === '/afvalstoffen' && 'btn-active'" (click)="navTo('/afvalstoffen')">
    afval stoffen
    <mat-icon class="forwardArrow">arrow_forward</mat-icon>
  </button>

  <mat-expansion-panel class="admin-dropdown" (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header class="admin-header">
      <mat-panel-title class="hello" style="color: white; display: block; margin-right: 0">
        Admin
      </mat-panel-title>
    </mat-expansion-panel-header>
      <button class="btn-sidenav admin-button" [ngClass]="activeRoute === '/new-user' && 'btn-active'" (click)="navTo('/new-user')">
        Gebruiker aanmaken
        <mat-icon class="forwardArrow">arrow_forward</mat-icon>
      </button>

  </mat-expansion-panel>
</div>

</nav>
