
<nav class="navigation">
<!--  <button class="btn btn-openSideNav" (click)="toggle()">-->
<!--    <mat-icon class="menuIcon">menu</mat-icon>-->
<!--  </button>-->

<div class="sidenav" *ngIf="visible">
  <button class="btn-sidenav btn-homepage" (click)="navTo('/home')">
    Home
    <mat-icon class="forwardArrow">arrow_forward</mat-icon>
  </button>
  <button class="btn-sidenav" (click)="navTo('/afvalstoffen')">
    afval stoffen
    <mat-icon class="forwardArrow">arrow_forward</mat-icon>
  </button>
</div>

</nav>
