.container {
    
}

.formHolder {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}

.title {
    text-align: center;
}
.titleText {

}

.formContainer {

}

.innerBox {
    background-color: white;
}

.textInput {
    padding: 10px 10px 0px 10px
}

.formRow {
    display: flex;
    flex-wrap: wrap;
}